* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
aside {
    background: #267643;
    width: 200px;
    height: 100vh;
    border-radius: 15px;
}
.logo-div {
    display: flex;
    justify-items: center;
    margin: 0 auto;
}
.logo {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
ul {
    list-style: none;
}
li {
    background: #FFCD00;
    margin-bottom: 10px;
}
.icon {
    width: 40px;
    height: 40px;
}
