body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c1c1c1;
    height: 100vh;
    display: flex;
    overflow: hidden; 
}
.container {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.main-content {
    flex: 1;
    margin: 20px;
    padding: 50px;
    border-radius: 30px;
    background-color: white;
    overflow-y: auto;
}

