body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    overflow: hidden; 
}

.container {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.sidebar {
    height: 100vh;
    width: 70px;
    background-color: #487D47;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    transition: width 0.3s ease;
    position: relative;
    border-radius: 0 15px 15px 0 ;
}

.sidebar:hover {
    width: 200px;
}

.logo {
    color: white;
    font-size: 24px;
    margin: 20px 0;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sidebar:hover ul {
    opacity: 1;
}

.sidebar ul li {
    width: 100%;
}

.sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar a:hover {
    background-color: #575757;
}

.main-content {
    flex: 1;
    margin: 20px;
    padding: 50px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 30px;
    background-color: white;
    overflow-y: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

.add-entry {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.filter {
    margin: 20px 0;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    border: 1px solid #ccc;
}

.search-bar i {
    color: #888;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 10px;
    margin-left: 5px;
    border-radius: 20px;
    flex: 1;
}

.filter button {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

tbody tr td a {
    color: #3498db;
    text-decoration: none;
}

tbody tr td a:hover {
    text-decoration: underline;
}

.highlight {
    background-color: #f8d7da;
}

.login-btn {
    position: absolute;
    bottom: 20px;
    color: white;
    padding: 10px 20px;
    background-color: #3498db;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: calc(100% - 40px);
    text-align: center;
    text-decoration: none;
    display: block;
}

@media (max-width: 768px) {
    .sidebar {
        width: 50px;
    }
    .main-content {
        margin: 0;
        padding: 20px;
    }
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    .add-entry {
        margin-top: 10px;
    }
}
